/* style the navbar: limit the heigth and vertically center the title,
   change font colour to white. The bg colour is set with navbar_options()
   in ui.R */
.navbar-brand {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
  color: white;
}
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
}

/* Add custom CSS for background colour of accordion panel and
   collapsed accordion header: same colour as sidebar background */
.accordion-body {
  background-color: #f2f2f2;
}
.accordion-button.collapsed {
  background-color: #f2f2f2;
}

/* add special class for rounded button with some space on top */
.btn-rounded {
  border-radius: 4px;
  margin-top: 10px;
}

/* Positioning tooltip at the node does not work in Firefox.
   => Fix the tooltip to the top left corner. */
.tooltip {
  left: 10px !important;
  top: 10px !important;
}

/* collapsibleTree sets opacity in JS to show or hide the tooltip.
   When the tooltip is shown, opacity is set to 0.9. Override this to 1.
   This does not override opacity when it is 0 and thus still allows
   hiding the tooltip. */
.tooltip[style*="opacity: 0.9"] {
  opacity: 1 !important;
}
